<!DOCTYPE html>
<html>

<head>
  <title>{{ content.subject }}</title>
</head>

<body>
  <div>
    <p>Hello,</p>
    <p>To continue to login to your account, please follow this link. This link expires in {{ content.expireInHumanReadable }}:</p>
    <p><a href="{{content.host}}/login?token={{content.token}}">{{content.host}}/login?token={{content.token}}</a></p>
    <p>If you did not request a login, you may disregard this email.</p>
  </div>
</body>

</html>